{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Zakup</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id transakcji</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Data zakupu</th>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
               <th>Tytul filmu</th> <td>{{ entity.movie.title}}</td>
            </tr>
            <tr>
                <th> Adres dostawy filmu </th>
                <td>{{ entity.address}}</td>
            </tr>
        </tbody>
    </table>


</ul>
{% endblock %}
