{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Film</h1>
    <hr/>
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ entity.price }}</td>
            </tr>
        </tbody>
    </table>
    <h1>Opinie</h1>
    {% for review in entity.reviews %}
                    {{review.opinion}}
                    <hr />
                {% endfor %}

{% endblock %}
